|||template "vueheader"|||
|||template "treenav"|||
|||template "caseheader"|||
<div id="caseinfo" class="container-fluid display-table v-align">
	<form class="form-horizontal">
	</form>
	<div class="col-md-3">
		<div class="md-lid">
			<div class="tab-featured-image">
				<div class="tab-content">
					<img src="http://www.dasannetworks.com/en/images/sub/solutions_en2_1.jpg" alt="tab1" class="img img-responsive">
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="tab-featured-image">
			<div class="tab-content">
				<div class="form-group">
					<div v-for="task in current.Tasks">
						<div class="update-nag">
							<button class="update-split update-success glyphicon glyphicon-play" @click.prevent="runTask(task.id)"></button>
							<div class="update-text"><a :href="'taskinfo?id='+task.id">{{task.name}}</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<button class="btn icon-btn btn-primary pull-right" @click.prevent="newTask">NewTask</button>
		<button class="btn icon-btn btn-success pull-right" @click.prevent="runCase">RUN</button>
	</div>

	<div class="col-md-6 pull-left">
	 <div v-for="(res, i) in cresults">
		 <h4 class="text-center text-success" v-if="res.Pass"><strong color="green"><{{i}}>Success:</strong>{{res.Group}}>{{res.SubGroup}}>{{res.Feature}}>{{res.Case}}: {{res.Message}}</h4>
		 <h4 class="text-center text-danger" v-else><strong color="green"><{{i}}>Faield :</strong>{{res.Group}}>{{res.SubGroup}}>{{res.Feature}}>{{res.Case}}: {{res.Message}}</h4>
	 </div>
	</div>

	<div class="col-md-6 pull-left">
	 <div v-for="(res, i) in tresults">
		 <h4 class="text-center text-success" v-if="res.Pass"><strong color="green"><{{i}}>Success:</strong>{{res.Group}}>{{res.SubGroup}}>{{res.Feature}}>{{res.Case}}: {{res.Message}}</h4>
		 <h4 class="text-center text-danger" v-else><strong color="green"><{{i}}>Faield :</strong>{{res.Group}}>{{res.SubGroup}}>{{res.Feature}}>{{res.Case}}: {{res.Message}}</h4>
	 </div>
	</div>
</div>
<script>
	function dumpCase(id) {
		var caseinfo;
		$.ajax({
			type:"get",
			url:"dumpcase?id="+id,
			async:false,
			success:function(data) {
				caseinfo = data;
			}
		});
		return JSON.parse(caseinfo);
	}

	function　getCookie(name){
		if (document.cookie.length>0)
		{
			start=document.cookie.indexOf(name + "=");
			if (start!=-1)
			{ 
				start=start + name.length+1;
				c_end=document.cookie.indexOf(";",start);
				if (c_end==-1) c_end=document.cookie.length;
				return unescape(document.cookie.substring(start,c_end));
			} 
		}
		return "";
	}

	function setCookie(name,value,expiredays){
		var exdate=new Date();
		exdate.setDate(exdate.getDate()+expiredays);
		document.cookie= name+ "=" +escape(value)+
			((expiredays==null) ? "" : ";expires="+exdate.toGMTString());
	}

	function isReadyForRun(id) {
		var ready = false
		$.ajax({
			type:"get",
			url:"isinitialized",
			async:false,
			data: {
				id: id
			},
			success:function(data) {
				ready = JSON.parse(data).Ready
			}
		});
		return ready
	}

	function doInitializeWork(id) {
		$.ajax({
			type:"get",
			url:"setdutsbyid",
			async:false,
			data: {
				id: id
			},
			success:function(data) {
				 $("body").html(data);
			}
		});
	}
</script>
<script>
	var caseInfo = new Vue({
		el: '#caseinfo',
		data: {
			current: dumpCase(getCookie("CASEID")),
			id: getCookie("CASEID"),
			submitted:false,
			cresults:[{
				Message: "hello"
			}, {
				Message: "world"
			}
			],
			tresults:[{
				Message: "hello"
			}, {
				Message: "world"
			}
			]
		},
		methods: {
			newTask: function(e) {
				$.ajax({
					type:"get",
					url:"newtask",
					async:false,
					success:function(data) {
						$("body").html(data);
					}
				});
				this.submitted = true;
			},

			runCase: function(e) {
				if (!isReadyForRun(this.id)){
					doInitializeWork(this.id)
					return
				}
				var res = this.cresults
				$.ajax({
					type:"post",
					url:"runcases",
					async:false,
					data: {
						type: "CASE",
						id: this.id
					},
					success:function(data) {
						var conn = new WebSocket("ws://"+data+"/runcaseresultws");
						conn.onclose = function(evt) {
							data.textContent = 'Connection closed';
						}
						conn.onmessage = function(evt) {
							res.push(JSON.parse(evt.data));
						}
					}

				});
				this.submitted = true;
			},

			runTask: function(e) {
				if (!isReadyForRun(this.id)){
					doInitializeWork(this.id)
					return
				}

				var res = this.tresults
				$.ajax({
					type:"post",
					url:"runcases",
					async:false,
					data: {
						type: "TASK",
						id: e,
					},
					success:function(data) {
						var conn = new WebSocket("ws://"+data+"/runcaseresultws");
						conn.onclose = function(evt) {
							data.textContent = 'Connection closed';
						}
						conn.onmessage = function(evt) {
							res.push(JSON.parse(evt.data));
						}
					}

				});
				this.submitted = true;
			},
		}
	});
</script>
|||template "vuefooter"|||
