|||template "vueheader" |||
|||template "treenav" .|||
<div id="form-newcase">
		<div class="form-horizontal col-sm-8">
			<fieldset class="col-sm-offset-1">
				<legend>Create a New Case</legend>
			</fieldset>
			<fieldset class="col-sm-offset-3">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="case_group">Group</label>
					<div class="col-sm-4">
						<input type="text" v-model="ncase.Group" class="form-control required" placeholder="L2">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="case_subgroup">Sub Group</label>
					<div class="col-sm-4">
						<input type="text" v-model="ncase.SubGroup" class="form-control required" placeholder="Bridge">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="case_feature">Feature</label>
					<div class="col-sm-4">
						<input type="text" v-model="ncase.Feature" class="form-control required" placeholder="VLAN">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="case_name">Name</label>
					<div class="col-sm-4">
						<input type="text" v-model="ncase.Name" class="form-control required" placeholder="VLAN Create">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="dut_count">DUT Count</label>
					<div class="col-sm-4">
						<input type="text" v-model="ncase.DCount" class="form-control required" placeholder="2">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="case_topology">Topology</label>
					<div class="col-sm-4">
						<input type="file" v-model="ncase.Topology" class="form-control required" placeholder="Topology.jpg">
					</div>
				</div>
			</fieldset>     
			<fieldset class="col-sm-offset-3">
				<legend></legend>
				<div class="col-sm-2"></div>
				<div class="col-sm-4">
					<button class="btn btn-success btn-block" @click.prevent="submitForm">Submit</button>
				</div>
			</fieldset>
		</div>
</div>
<script>
	var newCase = new Vue({
		el: '#form-newcase',
		data: {
			ncase: {
				Group: "",
				SubGroup: "",
				Feature: "",
				Name: "",
				DCount: "",
				Topology:""
			},
			submitted:false
		},
		methods: {
			submitForm: function(e) {
				$.ajax({
					type:"post",
					url:"newcase",
					async:false,
					data: {newcase: JSON.stringify(this.ncase)},
					success:function(data) {
						alert(data);
					}
				});
				this.submitted = true;
			}
		}
	});
</script>
|||template "vuefooter"|||
