|||template "vueheader"|||
|||template "treenav"|||
|||template "subgroupheader"|||
<div id="subgroupinfo" class="container-fluid display-table v-align">
	<form class="form-horizontal">
	</form>
	<div class="col-md-3">
		<div class="md-lid">
			<div class="tab-featured-image">
				<div class="tab-content">
					<img src="http://www.dasannetworks.com/en/images/sub/solutions_en2_1.jpg" alt="tab1" class="img img-responsive">
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="tab-featured-image">
			<div class="tab-content">
				<div class="form-group">
					<div v-for="task in current.Tasks">
						<div class="update-nag">
							<div class="update-split update-info"><i class="glyphicon glyphicon-leaf"></i></div>
							<div class="update-text"><a :href="'taskinfo?id='+task.id">{{task.name}}</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<button class="btn icon-btn btn-success pull-right" @click.prevent="runGoToNewCase">NewCase</button>
		<button class="btn icon-btn btn-danger pull-right" @click.prevent="runDelete">Delete</button>
		<button class="btn icon-btn btn-primary pull-right" @click.prevent="runCaseBySubGroup" disabled="disabled">Run</button>
	</div>
	<div class="col-md-6 pull-left">
	 <div v-for="res in results">
		 <h4 class="text-center text-success" v-if="res.Pass"><strong color="green">Success:</strong>{{res.Group}}>{{res.SubGroup}}>{{res.Feature}}>{{res.Case}}: {{res.Message}}</h4>
		 <h4 class="text-center text-danger" v-else><strong color="green">Faield :</strong>{{res.Group}}>{{res.SubGroup}}>{{res.Feature}}>{{res.Case}}: {{res.Message}}</h4>
	 </div>
	</div>
</div>
<script>
	function dumpSubGroup(id) {
		var subgroupinfo;
		$.ajax({
			type:"get",
			url:"dumpsubgroup?id="+id,
			async:false,
			success:function(data) {
				subgroupinfo = data;
			}
		});
		return JSON.parse(subgroupinfo);
	}

	function　getCookie(name){
		if (document.cookie.length>0)
		{
			start=document.cookie.indexOf(name + "=");
			if (start!=-1)
			{ 
				start=start + name.length+1;
				c_end=document.cookie.indexOf(";",start);
				if (c_end==-1) c_end=document.cookie.length;
				return unescape(document.cookie.substring(start,c_end));
			} 
		}
		return "";
	}

	function setCookie(name,value,expiredays){
		var exdate=new Date();
		exdate.setDate(exdate.getDate()+expiredays);
		document.cookie= name+ "=" +escape(value)+
			((expiredays==null) ? "" : ";expires="+exdate.toGMTString());
	}
</script>
<script>
	var caseInfo = new Vue({
		el: '#subgroupinfo',
		data: {
			current: dumpSubGroup(getCookie("SGID")),
			id: getCookie("SGID"),
			submitted:false,
			results:[{
				Message: "hello"
			}, {
				Message: "world"
			}
			]
		},
		methods: {
			runCaseBySubGroup: function(e) {
				var res = this.results
				$.ajax({
					type:"post",
					url:"runcases",
					async:false,
					data: {
						type: "SUBGROUP",
						id: this.id
					},
					success:function(data) {
						var conn = new WebSocket("ws://"+data+"/runcaseresultws");
						conn.onclose = function(evt) {
							data.textContent = 'Connection closed';
						}
						conn.onmessage = function(evt) {
							res.push(JSON.parse(evt.data));
						}
					}

				});
				this.submitted = true;
			},

			runDelete: function(e) {
				$.ajax({
					type:"post",
					url:"delete",
					async:false,
					data: {
						type: "SUBGROUP",
						id: this.id
					},
					success:function(data) {
						notify("success", "Delete subgroup success!");
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						alert(XMLHttpRequest.responseText);
					}
				});
				this.submitted = true;
			},

			runGoToNewCase: function(e) {
				$.ajax({
					type:"get",
					url:"newcase",
					async:false,
					data: {id: this.id},
					success:function(data) {
						window.location.href="newcase?id="+getCookie("SGID")
					}
				});
				this.submitted = true;
			},
		}
	});
</script>
|||template "vuefooter"|||
