|||define "vueheader"|||
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="desciption" content="Test">
	<meta name="author" content="liwei">
	<title>Go go go</title>
	<link rel="stylesheet" href="asset/web/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="asset/web/static/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="asset/web/static/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="asset/web/static/css/mra.css">
	<link rel="stylesheet" href="asset/web/static/css/zTreeStyle/zTreeStyle.css" type="text/css">
	<link rel="stylesheet" href="asset/web/static/notyf/dist/notyf.min.css">
	<script src="asset/web/static/notyf/dist/notyf.min.js"></script>
	<script type="text/javascript" src="asset/web/static/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="asset/web/static/vue/vue.min.js"></script>
	<script type="text/javascript" src="asset/web/static/vue-router/vue-router.js"></script>
	<script type="text/javascript" src="asset/web/static/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="asset/web/static/jquery-validate/dist/jquery.validate.min.js"></script>
</head>
</body>
<div class="header"></div>
<div id=mra>
|||end|||
