{{define "header"}}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="desciption" content="Test">
	<meta name="author" content="liwei">
	<title>{{.Title}}</title>
	<link rel="stylesheet" href="asset/web/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="asset/web/font-awesome/font-awesome.min.css">
	<script type="text/javascript" src="asset/web/masonry/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="asset/web/imageloaded/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="asset/web/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="asset/web/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="asset/web/jquery-validate/dist/jquery.validate.min.js"></script>
</head>
</body>
<div id=mra>
{{end}}
