{{template "header" .}} 
<section>
	<div class="board">
		<div class="board-inner">
			<ul class="nav nav-tabs" id="myTab">
				<div class="liner"></div>
				<li class="active">
					<a href="#food" data-toggle="tab" title="food">
						<span class="round-tabs one">
							Food
						</span> 
					</a>
				</li>

				<li><a href="#city" data-toggle="tab" title="city">
						<span class="round-tabs two">
							<!--<i class="fa fa-glass" aria-hidden="true"></i>-->
							City
						</span> 
					</a>
				</li>
				<li><a href="#fashion" data-toggle="tab" title="fashion">
						<span class="round-tabs three">Fashion</span> </a>
				</li>
			</ul>
		</div>
		<div class="tab-content">
			<div class="tab-pane fade in active" id="food">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
						<img src="http://lorempixel.com/500/500/food/1/" class="img-responsive">
					</div><!--col-md-4 col-sm-6 col-xs-6-->
					<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
						<img src="http://lorempixel.com/500/500/food/2/" class="img-responsive">
					</div><!--col-md-4 col-sm-6 col-xs-6-->

					<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
						<img src="http://lorempixel.com/500/500/food/3/" class="img-responsive">
					</div><!--col-md-4 col-sm-6 col-xs-6-->
					<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
						<img src="http://lorempixel.com/500/500/food/4/" class="img-responsive">
					</div><!--col-md-4 col-sm-6 col-xs-6-->
					<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
						<img src="http://lorempixel.com/500/500/food/5/" class="img-responsive">
					</div><!--col-md-4 col-sm-6 col-xs-12-->
					<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
						<img src="http://lorempixel.com/500/500/food/6/" class="img-responsive">
					</div><!--col-md-4 col-sm-6 col-xs-6-->
				</div><!--row-->
			</div>>
			<div class="tab-pane fade" id="city">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
						<img src="http://lorempixel.com/500/500/city/1/" class="img-responsive">
					</div><!--col-md-4 col-sm-6 col-xs-6-->
					<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
						<img src="http://lorempixel.com/500/500/city/2/" class="img-responsive">
					</div><!--col-md-4 col-sm-6 col-xs-6-->
					<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
						<img src="http://lorempixel.com/500/500/city/3/" class="img-responsive">
					</div><!--col-md-4 col-sm-6 col-xs-6-->
					<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
						<img src="http://lorempixel.com/500/500/city/4/" class="img-responsive">
					</div><!--col-md-4 col-sm-6 col-xs-6-->
					<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
						<img src="http://lorempixel.com/500/500/city/5/" class="img-responsive">
					</div><!--col-md-4 col-sm-6 col-xs-6-->
					<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
						<img src="http://lorempixel.com/500/500/city/6/" class="img-responsive">
					</div><!--col-md-4 col-sm-6 col-xs-6-->
				</div><!--row-->
			</div>
			<div class="tab-pane fade" id="fashion">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
						<img src="http://lorempixel.com/500/500/fashion/1/" class="img-responsive">
					</div><!--col-md-4 col-sm-6 col-xs-6-->
					<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
						<img src="http://lorempixel.com/500/500/fashion/7/" class="img-responsive">
					</div><!--col-md-4 col-sm-6 col-xs-6-->
					<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
						<img src="http://lorempixel.com/500/500/fashion/8/"	class="img-responsive">
					</div><!--col-md-4 col-sm-6 col-xs-6-->
					<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
						<img src="http://lorempixel.com/500/500/fashion/4/" class="img-responsive">
					</div><!--col-md-4 col-sm-6 col-xs-6-->
					<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
						<img src="http://lorempixel.com/500/500/fashion/5/"	class="img-responsive">
					</div><!--col-md-4 col-sm-6 col-xs-6-->
					<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
						<img src="http://lorempixel.com/500/500/fashion/6/"	class="img-responsive">
					</div><!--col-md-4 col-sm-6 col-xs-6-->
				</div><!--row-->
			</div><!--three-->
		</div>
	</div>
</section>
<link rel="stylesheet" href="static/css/index.css">
<script type="text/javascript" src="asset/web/js/index.js"></script>
{{template "footer"}}
