<!DOCTYPE html>
{{template "header"}}
<link rel="stylesheet" href="http://myjslib.qiniudn.com/fonts/roboto/roboto.css">
<link rel="stylesheet" href="asset/web/css/rwaterfall.css">
<link rel="stylesheet" href="asset/web/css/wf-style.css">
<header class="header">
	<div class="content">
		<h1>Responsive Waterfall</h1>
		<p>Resize the browser to see the responsive the effect</p>
		<div class="btn-group">
			<button id='add-btn' class="btn btn-primary">Add Box</button>
			<button id='scaleup-btn' class="btn btn-primary">Scale Up</button>
			<button id='scaledown-btn' class="btn btn-primary">Scale Down</button>
		</div>
	</div>
</header>
<section>
	<div class="wf-container">
	</div>
</section>
<script src="asset/web/rwaterfall/rwaterfall.js"></script>
<script src="asset/web/js/rwaterfall.js"></script>
{{template "footer"}}
